@model SmartMealsWeb.ViewModel.MealFromViewModel
@{
    ViewBag.Title = "MealForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Meal</h2>

@using (Html.BeginForm("Save", "Meals"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")

    <div class="form-group">
        @Html.LabelFor(m => m.Meal.Name)
        @Html.TextBoxFor(m => m.Meal.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Meal.Name)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Meal.DatePosted)
        @Html.TextBoxFor(m => m.Meal.DatePosted, "{0:d MMM yyyy }", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Meal.DatePosted)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Meal.MealTypeID)
        @Html.DropDownListFor(m => m.Meal.MealTypeID, new SelectList(Model.MealType, "Id", "Name"), "Select Meal Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Meal.MealType)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Meal.Description)
        @Html.TextAreaFor(m => m.Meal.Description, 10, 15, null)
        @Html.ValidationMessageFor(m => m.Meal.Name)

    </div>


    @Html.HiddenFor(m => m.Meal.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>

}

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}